{% extends 'security/layout.html.twig' %}

{% block title 'Set a new password' %}

{% block body %}
    <div class="card">
        <h1>Choose a new password</h1>
        <p>Please enter and confirm your new password.</p>
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword.first) }}
            {{ form_row(resetForm.plainPassword.second) }}
            <button type="submit">Update password</button>
        {{ form_end(resetForm) }}
        <p class="hint"><a href="{{ path('app_login') }}">Back to sign in</a></p>
    </div>
{% endblock %}
